<!DOCTYPE html>
{% load bootstrap4 %}
{% load staticfiles %}
<html lang="en">
<head>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <link href="{% static 'css/global.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!--    <script src="{% static 'js/jquery.html-svg-connect.js'%} "></script>-->

    <script src="{% static 'js/global.js'%} "></script>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    {% include "main_menu.html" %}
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>

</body>

</html>