.var_notation span, .var_notation div {
    border-radius: 15%;
    background: #800080;
    border: 1px solid #800080;
    padding: 2em;
    margin: 1em;
    float: left;
    color:#fff

}
.var_notation span:hover, .var_notation div:hover{
    color:#800080;
    background:#fff;
    cursor: pointer;

}
.var_notation span.struct_var {
    border-radius: 15%;
    padding : 1em;
    background: #DA70D6;
    border: 1px solid #DA70D6;


}
.var_notation span.struct_var:hover{
    color:#DA70D6;
    background:#fff;
}

.thread_notation span {
    background-image: url("/static/media/TechComp.png");
    padding: 2em;
    margin: 1em;
    float: left;
    color: #000;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.thread_notation span#main{
    background-image: url("/static/media/TechCompMain.png");
}
.thread_notation span:hover{
    color:#82B366;
    cursor: pointer;

}

.func_notation span {
    background-image: url("/static/media/Logica_data.png");
    padding: 2em;
    margin: 1em;
    float: left;
    color: #000;
    min-width: 160px;
    min-height: 75px;
    max-width: 160px;
    max-height: 75px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;word-break: break-word;
}

.func_notation span:hover{
    color:#DC143C;
    opacity: 0.4%;
    cursor: pointer;

}

#plane{
    position: relative;
    width: 1000px;
    height: 500px;
}
.point{
    position: absolute;}
#point1{
    left: 10px;
    top: 30px;
    background-color: #447e9b;
    width: 10px;
    height: 10px;
}
#point2{
    left: 50px;
    top: 100px;
    background-color: #82B366;
    width: 10px;
    height: 10px;
}

#line{
    position: absolute;
    height: 2px;
    background-color: black;
}

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position,
   translateX(50%) works with right: 50%
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
#shared_variables .hovered, #pageSubmenu .hovered{
    color: #337ab7;
    font-weight: bold;
    cursor: pointer;
}

/* Tabs */
.tabs {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
}
#tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
  display: table-cell;
  width: 20%;
}
#tab-button li a {
  display: block;
  padding: .5em;
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  text-decoration: none;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
  background: #f5f5f5;
}
/*
.tab-contents {
  padding: .5em 2em 1em;
  border: 1px solid #ddd;
}
*/


.tab-button-outer {
  display: none;
}
.tab-contents {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}